# 1. Get example data

# 1-1. Web Scraping - wiki - src / csvp.py, job.py, run.py
# 1-2. Data cleaning- json to csv - src / filter.py, create_csv.py

# 2. Small sample clustering test

In [1]:
import os, json
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline


from sklearn.feature_extraction.text import TfidfVectorizer

# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.feature_extraction.text import TfidfTransformer


from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score, silhouette_samples
from collections import Counter

import itertools

import sys
sys.path.insert(0,"./src/")
from load_data import load_data

# 2-1.Load Data - csv to df - src / load_data.py

In [2]:
# load 1000 dataset
df_1000p_words = pd.read_csv("./data/actor_words.csv",sep='\t')
df_1000p_words.head()

    actor_id                                              words
0  nm3118270  tom smotherssmoth 2011background informationbi...
1  nm0266824  american actress model dakota fanningfan premi...
2  nm0497892  peopl name michel lee , see michel lee ( disam...
3  nm0001337  american actress , film produc , former fashio...
4  nm0371565  walker hayeswalk hay 2016background informatio...

In [3]:
df_1000p_words.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
actor_id    1000 non-null object
words       1000 non-null object
dtypes: object(2)
memory usage: 15.7+ KB

In [4]:
# load actors name df, connect to actwords df
df_actors_name = pd.read_csv("./data/actors_70s.csv",sep=',')
df_actors_name.head()

          id             name
0  nm0005211  Danica McKellar
1  nm0005576   Drea de Matteo
2  nm0011589      Amanda Aday
3  nm0013684    Cesar Aguirre
4  nm0028846    Shawn Andrews

In [5]:
df_actors_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15062 entries, 0 to 15061
Data columns (total 2 columns):
id      15062 non-null object
name    15062 non-null object
dtypes: object(2)
memory usage: 235.4+ KB

In [2]:
data1_path = "./data/actor_words.csv"
data2_path = "./data/actors_70s.csv"
df_1000p = load_data(data1_path, data2_path)
df_1000p.head()

,actor_id,actor_name,words
0,nm0005211,Danica McKellar,danica mckellarmckellar 2018u. . nation book f...
1,nm0005576,Drea de Matteo,drea de matteod matteo 2005bornandrea donna de...
2,nm0028846,Shawn Andrews,"american footbal guard tackl actor , see shawn..."
3,nm0036571,Monica,"look monica monica wiktionari , free dictionar..."
4,nm0038875,John Asher,thi biographi live person need addit citat ver...

In [3]:
df_1000p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 3 columns):
actor_id      1000 non-null object
actor_name    1000 non-null object
words         1000 non-null object
dtypes: object(3)
memory usage: 31.2+ KB

# 2-2. k-means clustering

In [ ]:
# 2-2-1.

In [4]:
from k_means import tf_idf

In [7]:
X, features = tf_idf(df_1000p['words'],1000)

In [10]:
X.shape

(1000, 1000)

In [9]:
features

['000',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '100',
 '108kg',
 '11',
 '110kg',
 '12',
 '125kg',
 '13',
 '14',
 '145kg',
 '15',
 '16',
 '17',
 '18',
 '19',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '1st',
 '20',
 '200',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '2nd',
 '30',
 '300',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '3rd',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49er',
 '4th',
 '50',
 '500',
 '87',
 '93',
 'abc',
 'absalom',
 'academi',
 'acclaim',
 'accolad',
 'achiev',
 'act',
 'action',
 'activ',
 'active1991',
 'active1996',
 'active1998',
 'active1999',
 'active2001',
 'active2005',
 'active2006',
 'activist',
 'actor',
 'actress',
 'ad',
 'adam',
 'addit',
 'adult',
 'adventur',
 'afl',
 'age',
 'air',
 'akon',
 'album',
 'alex',
 'all',
 'alma',
 'along',
 'alongsid',
 'also',
 'altern',
 'am',
 'america',
 'american',
 'among',
 'anchor',
 'ancient',
 'angel',
 'anim',
 'announc',
 'annual',
 'anthoni',
 'apollo',
 'app',
 'appear',
 'april',
 'arkansa',
 'armstrong',
 'arnold',
 'art',
 'articl',
 'artist',
 'as',
 'ash',
 'aspen',
 'associ',
 'athlet',
 'atlanta',
 'attent',
 'august',
 'australia',
 'australian',
 'author',
 'aveng',
 'award',
 'back',
 'band',
 'bank',
 'base',
 'basebal',
 'basketbal',
 'bass',
 'battl',
 'bbc',
 'be',
 'beach',
 'becam',
 'becaus',
 'becom',
 'befor',
 'began',
 'bell',
 'best',
 'better',
 'bibl',
 'biblic',
 'big',
 'biggest',
 'bill',
 'billboard',
 'billi',
 'biographi',
 'birth',
 'black',
 'blue',
 'book',
 'born',
 'bowl',
 'boy',
 'break',
 'brian',
 'british',
 'broadway',
 'bronz',
 'brother',
 'brown',
 'california',
 'call',
 'came',
 'camp',
 'campaign',
 'canada',
 'canadian',
 'cannon',
 'cap',
 'capitol',
 'captain',
 'car',
 'career',
 'careergenr',
 'carter',
 'cast',
 'celebr',
 'cent',
 'centuri',
 'certifi',
 'challeng',
 'champion',
 'championship',
 'chang',
 'channel',
 'charact',
 'chart',
 'chelsea',
 'chief',
 'child',
 'children',
 'children1',
 'children2',
 'chines',
 'choic',
 'chou',
 'chri',
 'christian',
 'christoph',
 'ciara',
 'citat',
 'citi',
 'class',
 'classic',
 'close',
 'club',
 'cm',
 'co',
 'coach',
 'coleman',
 'collabor',
 'colleg',
 'columbia',
 'com',
 'come',
 'comedi',
 'comedian',
 'comedy',
 'comic',
 'command',
 'commerci',
 'commun',
 'compani',
 'compet',
 'competit',
 'confus',
 'consecut',
 'consensu',
 'consid',
 'contain',
 'contenti',
 'continu',
 'contract',
 'copi',
 'counti',
 'countri',
 'cousin',
 'cover',
 'creat',
 'credit',
 'cricket',
 'critic',
 'cultur',
 'cup',
 'current',
 'da',
 'dan',
 'danc',
 'dancer',
 'daniel',
 'dark',
 'date',
 'daughter',
 'david',
 'day',
 'de',
 'deadlift',
 'deal',
 'death',
 'debut',
 'decemb',
 'def',
 'defens',
 'describ',
 'develop',
 'die',
 'diego',
 'differ',
 'direct',
 'director',
 'dirnt',
 'disambigu',
 'discuss',
 'disney',
 'div',
 'divis',
 'dj',
 'do',
 'dogg',
 'doggi',
 'doggystyl',
 'doubl',
 'dr',
 'draft',
 'drake',
 'drama',
 'dre',
 'dream',
 'driver',
 'drug',
 'drum',
 'due',
 'dure',
 'eagl',
 'earli',
 'earn',
 'east',
 'eco',
 'edward',
 'effect',
 'eight',
 'emi',
 'emmi',
 'end',
 'enemi',
 'england',
 'english',
 'entertain',
 'entrepreneur',
 'especi',
 'establish',
 'event',
 'ever',
 'execut',
 'eye',
 'fame',
 'famili',
 'fantasi',
 'fashion',
 'father',
 'featur',
 'februari',
 'feder',
 'femal',
 'festiv',
 'fiction',
 'fifth',
 'figur',
 'film',
 'final',
 'find',
 'first',
 'five',
 'florida',
 'follow',
 'footbal',
 'forc',
 'form',
 'former',
 'forward',
 'found',
 'four',
 'fourth',
 'fox',
 'francisco',
 'franklin',
 'freestyl',
 'friend',
 'ft',
 'fulham',
 'full',
 'funk',
 'futur',
 'gain',
 'game',
 'garner',
 'gener',
 'genr',
 'georgia',
 'get',
 'girl',
 'global',
 'globe',
 'glover',
 'go',
 'goal',
 'goalkick',
 'gold',
 'golden',
 'good',
 'gordon',
 'grammi',
 'grand',
 'greatest',
 'green',
 'group',
 'guard',
 'guest',
 'guitar',
 'guitarist',
 'ha',
 'half',
 'hall',
 'halladay',
 'harmful',
 'harri',
 'hawthorn',
 'hbo',
 'he',
 'head',
 'heavi',
 'heavyweight',
 'hebrew',
 'height5',
 'height6',
 'held',
 'help',
 'hendrick',
 'henri',
 'hi',
 'high',
 'highest',
 'highlight',
 'hill',
 'hip',
 'histori',
 'historian',
 'hit',
 'hold',
 'hollywood',
 'home',
 'honor',
 'hood',
 'hop',
 'horror',
 'host',
 'hot',
 'hous',
 'houston',
 'howard',
 'human',
 'ian',
 'ii',
 'iii',
 'illinoi',
 'immedi',
 'improv',
 'in',
 'includ',
 'independ',
 'indian',
 'induct',
 'industri',
 'infobox',
 'inform',
 'informationbirth',
 'informationborn',
 'informationful',
 'informationhigh',
 'initi',
 'injuri',
 'instrument',
 'instrumentsvocalslabel',
 'intern',
 'interscop',
 'involv',
 'is',
 'island',
 'israel',
 'issu',
 'it',
 'jackson',
 'jam',
 'jame',
 'januari',
 'japan',
 'jay',
 'jeff',
 'jennif',
 'jerrold',
 'jersey',
 'jerusalem',
 'jesu',
 'jive',
 'joe',
 'john',
 'join',
 'jon',
 'jona',
 'jonathan',
 'jone',
 'jr',
 'jstor',
 'judah',
 'juli',
 'june',
 'junior',
 'justin',
 'kansa',
 'kevin',
 'key',
 'keyboard',
 'kg',
 'khale',
 'kill',
 'king',
 'kingdom',
 'known',
 'la',
 'label',
 'ladi',
 'lanc',
 'last',
 'late',
 'later',
 'lb',
 'lead',
 'leader',
 'leagu',
 'learn',
 'led',
 'lee',
 'left',
 'legend',
 'lesnar',
 'levin',
 'libel',
 'life',
 'light',
 'like',
 'lil',
 'limit',
 'lion',
 'list',
 'literatur',
 'littl',
 'live',
 'lo',
 'lohan',
 'london',
 'long',
 'love',
 'made',
 'magazin',
 'magic',
 'main',
 'major',
 'make',
 'man',
 'manag',
 'mani',
 'mar',
 'march',
 'mari',
 'mark',
 'marri',
 'marshal',
 'martial',
 'martin',
 'master',
 'match',
 'materi',
 'matthew',
 'may',
 'me',
 'medal',
 'medalist',
 'media',
 'member',
 'men',
 'messag',
 'metal',
 'miami',
 'michael',
 'michel',
 'mike',
 'milian',
 'million',
 'miss',
 'mix',
 'mlb',
 'model',
 'money',
 'mother',
 'moto',
 'motocross',
 'motorsport',
 'mountain',
 'move',
 'movi',
 'mtv',
 'multi',
 'multipl',
 'murder',
 'music',
 'musician',
 'must',
 'mvp',
 'my',
 'na',
 'nacac',
 'name',
 'nascar',
 'nation',
 'nba',
 'nbc',
 'ncaa',
 'near',
 'need',
 'netflix',
 'network',
 'new',
 'news',
 'newspap',
 'next',
 'nfl',
 'nick',
 'night',
 'nine',
 'no',
 'noah',
 'nomin',
 'nominationsmus',
 'notabl',
 'note',
 'novemb',
 'number',
 'numer',
 'oakland',
 'occas',
 'occup',
 'octob',
 'odi',
 'offic',
 'oliv',
 'olymp',
 'on',
 'one',
 'onli',
 'open',
 'opera',
 'order',
 'origin',
 'oth',
 'outsid',
 'outstand',
 'overal',
 'overallselect',
 'page',
 'paid',
 'pain',
 'pan',
 'paramet',
 'park',
 'parker',
 'part',
 'parti',
 'partner',
 'pastrana',
 'paul',
 'payta',
 'peak',
 'peopl',
 'perform',
 'person',
 'peter',
 'philadelphia',
 'philanthropist',
 'piano',
 'pick',
 'pictur',
 'pitch',
 'place',
 'plata',
 'platinum',
 'play',
 'player',
 'playoff',
 'pleas',
 'point',
 'pole',
 'polit',
 'poorli',
 'pop',
 'popular',
 'portray',
 'posit',
 'post',
 'potenti',
 'power',
 'powerlift',
 'premier',
 'pres',
 'present',
 'presenthom',
 'presentlabel',
 'presentpartn',
 'presentspous',
 'presid',
 'preview',
 'primetim',
 'prioriti',
 'pro',
 'produc',
 'product',
 'profession',
 'program',
 'project',
 'promin',
 'provid',
 'public',
 'punk',
 'pursu',
 'queen',
 'race',
 'radio',
 'rais',
 'ralli',
 'rank',
 'rap',
 'rapper',
 'raw',
 'rca',
 'reach',
 'real',
 'realiti',
 'receiv',
 'recent',
 'recognit',
 'record',
 'recur',
 'red',
 'redirect',
 'redskin',
 'refer',
 'rel',
 'releas',
 'reliabl',
 'remain',
 'remov',
 'repres',
 'repris',
 'republ',
 'residencelo',
 'respect',
 'retir',
 'return',
 'richard',
 'right',
 'ring',
 'robert',
 'rock',
 'role',
 'romant',
 'rooki',
 'rose',
 'round',
 'row',
 'rugbi',
 'rule',
 'run',
 'ryan',
 'san',
 'sarah',
 'satir',
 'saul',
 'saw',
 'scholar',
 'school',
 'scienc',
 'score',
 'scott',
 'screen',
 'screenwrit',
 'season',
 'second',
 'see',
 'select',
 'self',
 'sell',
 'senior',
 'septemb',
 'sequel',
 'seri',
 'serv',
 'set',
 'seven',
 'seventh',
 'sever',
 'shadow',
 'short',
 'show',
 'shown',
 'side',
 'sign',
 'silver',
 'sinc',
 'singer',
 'singl',
 'sister',
 'sitcom',
 'six',
 'sixth',
 'slam',
 'slopestyl',
 'smith',
 'snoop',
 'sold',
 'solo',
 'solomon',
 'son',
 'song',
 'songwrit',
 'soul',
 'sourc',
 'south',
 'southern',
 'space',
 'spark',
 'spawn',
 'spider',
 'sport',
 'spous',
 'squad',
 'squat',
 'st',
 'stage',
 'stand',
 'star',
 'start',
 'stat',
 'state',
 'statist',
 'steve',
 'still',
 'stone',
 'stori',
 'strongman',
 'studio',
 'style',
 'subject',
 'subsequ',
 'success',
 'summer',
 'supercross',
 'superpip',
 'support',
 'sydney',
 'take',
 'talk',
 'taylor',
 'team',
 'teen',
 'televis',
 'templat',
 'ten',
 'test',
 'texa',
 'tha',
 'theatr',
 'thi',
 'third',
 'three',
 'thriller',
 'throughout',
 'tim',
 'time',
 'titl',
 'tom',
 'toni',
 'top',
 'toronto',
 'total',
 'tour',
 'trade',
 'tradit',
 'train',
 'translat',
 'tri',
 'trick',
 'trophi',
 'truck',
 'turn',
 'tv',
 'twice',
 'two',
 'ufc',
 'uk',
 'unit',
 'univers',
 'unknown',
 'unsourc',
 'up',
 'us',
 'usa',
 'usapl',
 'use',
 'variou',
 'vega',
 'verif',
 'vert',
 'victori',
 'victoria',
 'video',
 'view',
 'virginia',
 'vocal',
 'vocalist',
 'voic',
 'wa',
 'wade',
 'war',
 'warn',
 'warner',
 'warwickshir',
 'washington',
 'wdfpf',
 'we',
 'week',
 'weight',
 'weightlift',
 'well',
 'went',
 'west',
 'white',
 'wicket',
 'wide',
 'wife',
 'wikipedia',
 'wild',
 'will',
 'william',
 'wilson',
 'win',
 'winner',
 'winter',
 'without',
 'wnba',
 'woman',
 'women',
 'work',
 'world',
 'worldwid',
 'would',
 'wrestl',
 'wrestlemania',
 'wrestler',
 'writer',
 'written',
 'wwe',
 'year',
 'york',
 'young',
 'youth',
 'zealand']

In [15]:
kmeans = KMeans(n_clusters=10)
kmeans.fit(X)
top_centroids = kmeans.cluster_centers_.argsort()[:,-1:-11:-1]
for num, centroid in enumerate(top_centroids):
    print("%d: %s" % (num, ", ".join(features[i] for i in centroid)))

0: 1976, 42, 43, seri, actor, juli, role, known, american, film
1: film, award, actress, seri, role, star, drama, comedi, nomin, in
2: team, championship, all, career, wrestl, wa, champion, nba, wwe, state
3: refer, may, jame, john, david, jone, scott, michael, daniel, chri
4: album, singer, releas, record, music, songwrit, singl, hi, rock, pop
5: 1978, actress, american, seri, known, 1971, role, born, actor, 1974
6: 1979, 1980, 39, seri, actress, film, role, american, born, age
7: 1973, 45, film, william, anchor, new, american, nbc, 46, juli
8: sourc, remov, thi, live, person, learn, templat, messag, pleas, help
9: 1972, 1977, 1975, american, film, actress, role, televis, actor, seri

In [19]:
print("random sample of name_id in each cluster")
assigned_cluster = kmeans.transform(X).argmin(axis=1)

for i in range(kmeans.n_clusters):
    cluster = np.arange(0, X.shape[0])[assigned_cluster==i]
    sample_name_id = np.random.choice(cluster, 3, replace=False)
    print("cluster %d:" % i)
    for name_id in sample_name_id:
        actor_name_id = df_1000p.loc[name_id]['actor_id']
        name = df_1000p.loc[name_id]['actor_name']

        print( "       {}, {}. ".format(actor_name_id, name) )

random sample of name_id in each cluster
cluster 0:
       nm2172012, Kyra Zagorsky.
       nm0510802, Iyari Limon.
       nm0295115, Will Friedle.
cluster 1:
       nm0851582, Audrey Tautou.
       nm0403134, Sam Huntington.
       nm0369954, Keeley Hawes.
cluster 2:
       nm4273880, Anil Kumar.
       nm1452434, Christy Hemme.
       nm2964452, Owen Best.
cluster 3:
       nm0507082, David Lewis.
       nm1117031, Sasha.
       nm1838520, David Moore.
cluster 4:
       nm1510184, Joss Stone.
       nm0051650, Alex Band.
       nm1107252, Amy Lee.
cluster 5:
       nm0958520, Arianne Zucker.
       nm1332975, Jonathan Ahdout.
       nm0275417, Mark Feuerstein.
cluster 6:
       nm1534207, Kelli Giddish.
       nm1922269, Kulap Vilaysack.
       nm0614287, Gillian Murphy.
cluster 7:
       nm0006562, Asia Carrera.
       nm3481621, Brian Williams.
       nm0629653, Marisol Nichols.
cluster 8:
       nm0527572, John Lutz.
       nm7625755, Alex Grey.
       nm0752656, Kelly Ryan.
cluster 9:
       nm0111197, Stefan Brogren.
       nm3077079, Allison Curtis.
       nm0769157, Jonathan Scarfe.