# Movie Quotes Corpus EDA

# 1. Cleaning

In [ ]:
# #---mount googledrive to tensorflow--
# from google.colab import drive
# drive.mount('/content/gdrive')

# #---Upload files to tensorflow--
# from google.colab import files
# uploaded = files.upload()

In [10]:
import pandas as pd
import fileinput

In [6]:
with open('./data/cornell_movie_dialogs_corpus/README.txt', encoding = "ISO-8859-1") as f:
    print(f.read())

f.close()

Cornell Movie-Dialogs Corpus

Distributed together with:

"Chameleons in imagined conversations: A new approach to understanding coordination of linguistic style in dialogs"
Cristian Danescu-Niculescu-Mizil and Lillian Lee
Proceedings of the Workshop on Cognitive Modeling and Computational Linguistics, ACL 2011.

(this paper is included in this zip file)

NOTE: If you have results to report on these corpora, please send email to cristian@cs.cornell.edu or llee@cs.cornell.edu so we can add you to our list of people using this data.  Thanks!


Contents of this README:

	A) Brief description
	B) Files description
	C) Details on the collection procedure
	D) Contact


A) Brief description:

This corpus contains a metadata-rich collection of fictional conversations extracted from raw movie scripts:

- 220,579 conversational exchanges between 10,292 pairs of movie characters
- involves 9,035 characters from 617 movies
- in total 304,713 utterances
- movie metadata included:
	- genres
	- release year
	- IMDB rating
	- number of IMDB votes
	- IMDB rating
- character metadata included:
	- gender (for 3,774 characters)
	- position on movie credits (3,321 characters)


B) Files description:

In all files the field separator is " +++$+++ "

- movie_titles_metadata.txt
	- contains information about each movie title
	- fields:
		- movieID,
		- movie title,
		- movie year,
	   	- IMDB rating,
		- no. IMDB votes,
 		- genres in the format ['genre1','genre2',É,'genreN']

- movie_characters_metadata.txt
	- contains information about each movie character
	- fields:
		- characterID
		- character name
		- movieID
		- movie title
		- gender ("?" for unlabeled cases)
		- position in credits ("?" for unlabeled cases)

- movie_lines.txt
	- contains the actual text of each utterance
	- fields:
		- lineID
		- characterID (who uttered this phrase)
		- movieID
		- character name
		- text of the utterance

- movie_conversations.txt
	- the structure of the conversations
	- fields
		- characterID of the first character involved in the conversation
		- characterID of the second character involved in the conversation
		- movieID of the movie in which the conversation occurred
		- list of the utterances that make the conversation, in chronological
			order: ['lineID1','lineID2',É,'lineIDN']
			has to be matched with movie_lines.txt to reconstruct the actual content

- raw_script_urls.txt
	- the urls from which the raw sources were retrieved

C) Details on the collection procedure:

We started from raw publicly available movie scripts (sources acknowledged in
raw_script_urls.txt).  In order to collect the metadata necessary for this study
and to distinguish between two script versions of the same movie, we automatically
 matched each script with an entry in movie database provided by IMDB (The Internet
 Movie Database; data interfaces available at http://www.imdb.com/interfaces). Some
 amount of manual correction was also involved. When  more than one movie with the same
 title was found in IMBD, the match was made with the most popular title
(the one that received most IMDB votes)

After discarding all movies that could not be matched or that had less than 5 IMDB
votes, we were left with 617 unique titles with metadata including genre, release
year, IMDB rating and no. of IMDB votes and cast distribution.  We then identified
the pairs of characters that interact and separated their conversations automatically
using simple data processing heuristics. After discarding all pairs that exchanged
less than 5 conversational exchanges there were 10,292 left, exchanging 220,579
conversational exchanges (304,713 utterances).  After automatically matching the names
of the 9,035 involved characters to the list of cast distribution, we used the
gender of each interpreting actor to infer the fictional gender of a subset of
3,321 movie characters (we raised the number of gendered 3,774 characters through
 manual annotation). Similarly, we collected the end credit position of a subset
of 3,321 characters as a proxy for their status.


D) Contact:

Please email any questions to: cristian@cs.cornell.edu (Cristian Danescu-Niculescu-Mizil)

In [27]:
def read_txt(filename):
    with fileinput.FileInput(filename, inplace=True, backup='.bak') as file:
        for line in file:
            print(line)
            try:
                print(line.replace(" +++$+++ ", "\t"), end='')
            except:
                line.encode('utf-8').strip()
                print(line.replace(" +++$+++ ", "\t"), end='')

In [35]:
# read_txt('/tf/lec/Galvanize/ResumeClassifier/data/cornell_movie_dialogs_corpus/origin_txt/movie_characters_metadata.txt')
# read_txt('movie_conversations.txt')
# read_txt('movie_titles_metadata.txt')
# read_txt('movie_lines.txt')

In [14]:
import sys
sys.path.insert(0,'/tf/lec/Galvanize/ResumeClassifier/src')

In [24]:
from movie_quotes_corpus_EDA import txt_to_df

In [56]:
# characters_metadata_cols = ['characterID', 'character_name', 'movieID', 'movieTitle', 'gender', 'position_in_credits']
# conversations_cols = ["characterID_First", "characterID_second", "movieID", "list_of_utterances"]
# titles_metadata_cols = ['movieID', 'movieTitle', 'movieYear', 'IMDB_rating', 'numIMDBvotes', 'Genres']
# lines_cols = ['lineID', 'characterID', 'movieID', 'character_name', 'text_of_utterances']


# characters_metadata_df = txt_to_df('movie_characters_metadata.txt', characters_metadata_cols)
# conversations_df = txt_to_df('movie_conversations.txt', conversations_cols)
# titles_metadata_df = txt_to_df('movie_titles_metadata.txt', titles_metadata_cols)
# lines_df = txt_to_df('movie_lines.txt', lines_cols)

None

In [ ]:
# characters_metadata_df.to_csv('movie_characters_metadata.csv', index=False)
# conversations_df.to_csv('movie_conversations.csv', index=False)
# titles_metadata_df.to_csv('movie_titles_metadata.csv', index=False)
# lines_df.to_csv('movie_lines.csv', index=False)

In [92]:
characters_metadata_df = pd.read_csv('/tf/lec/Galvanize/ResumeClassifier/data/cornell_movie_dialogs_corpus/create_csv/movie_characters_metadata.csv')
characters_metadata_df.head()

,characterID,character_name,movieID,movieTitle,gender,position_in_credits
0,u0,BIANCA,m0,10 things i hate about you,f,4
1,u1,BRUCE,m0,10 things i hate about you,?,?
2,u2,CAMERON,m0,10 things i hate about you,m,3
3,u3,CHASTITY,m0,10 things i hate about you,?,?
4,u4,JOEY,m0,10 things i hate about you,m,6

In [86]:
conversations_df = pd.read_csv('/tf/lec/Galvanize/ResumeClassifier/data/cornell_movie_dialogs_corpus/create_csv/movie_conversations.csv')
conversations_df.head()

,characterID_First,characterID_second,movieID,list_of_utterances
0,u0,u2,m0,"['L194', 'L195', 'L196', 'L197']"
1,u0,u2,m0,"['L198', 'L199']"
2,u0,u2,m0,"['L200', 'L201', 'L202', 'L203']"
3,u0,u2,m0,"['L204', 'L205', 'L206']"
4,u0,u2,m0,"['L207', 'L208']"

In [104]:
titles_metadata_df = pd.read_csv('/tf/lec/Galvanize/ResumeClassifier/data/cornell_movie_dialogs_corpus/create_csv/movie_titles_metadata.csv')
titles_metadata_df.head()

,movieID,movieTitle,movieYear,IMDB_rating,numIMDBvotes,Genres
0,m0,10 things i hate about you,1999,6.9,62847,"['comedy', 'romance']"
1,m1,1492: conquest of paradise,1992,6.2,10421,"['adventure', 'biography', 'drama', 'history']"
2,m2,15 minutes,2001,6.1,25854,"['action', 'crime', 'drama', 'thriller']"
3,m3,2001: a space odyssey,1968,8.4,163227,"['adventure', 'mystery', 'sci-fi']"
4,m4,48 hrs.,1982,6.9,22289,"['action', 'comedy', 'crime', 'drama', 'thrill..."

In [111]:
lines_df = pd.read_csv('/tf/lec/Galvanize/ResumeClassifier/data/cornell_movie_dialogs_corpus/create_csv/movie_lines.csv')
lines_df.head()

  lineID characterID movieID character_name text_of_utterances
0  L1045          u0      m0         BIANCA       They do not!
1  L1044          u2      m0        CAMERON        They do to!
2   L985          u0      m0         BIANCA         I hope so.
3   L984          u2      m0        CAMERON          She okay?
4   L925          u0      m0         BIANCA          Let's go.

In [112]:
characters_metadata_df.shape, conversations_df.shape, titles_metadata_df.shape, lines_df.shape

((1706, 6), (83097, 4), (74, 6), (5401, 5))

In [108]:
# lines_df.drop_duplicates(subset ="lineID", keep = 'first', inplace = True)
# lines_df.to_csv('/tf/lec/Galvanize/ResumeClassifier/data/cornell_movie_dialogs_corpus/create_csv/movie_lines.csv', index=False)

113