# Movie Quotes Corpus EDA

# 1. Cleaning

In [7]:
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from wordcloud import WordCloud
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [6]:
pwd

'/tf/lec/Galvanize/ResumeClassifier/data/cornell_movie_dialogs_corpus/movie-dialog-corpus'

In [5]:
ls

README.txt                     movie_lines.tsv
movie_characters_metadata.tsv  movie_titles_metadata.tsv
movie_conversations.tsv        raw_script_urls.tsv

In [8]:
conver_df = pd.read_csv('./movie_conversations.tsv',encoding='ISO-8859-2',warn_bad_lines =False,sep='\t',header=None)
lines_df = pd.read_csv('./movie_lines.tsv',sep='\t',error_bad_lines=False,warn_bad_lines =False,header=None)
characters_df = pd.read_csv('./movie_characters_metadata.tsv',sep='\t',warn_bad_lines =False,error_bad_lines=False,header=None)

In [9]:
conversations_cols = ["characterID_First", "characterID_second", "movieID", "list_of_utterances"]
lines_cols = ['lineID', 'characterID', 'movieID', 'character_name', 'text_of_utterances']
characters_metadata_cols = ['characterID', 'character_name', 'movieID', 'movieTitle', 'gender', 'position_in_credits']
titles_metadata_cols = ['movieID', 'movieTitle', 'movieYear', 'IMDB_rating', 'numIMDBvotes', 'Genres']

In [10]:
conver_df.columns=conversations_cols
conver_df.head()

  characterID_First characterID_second movieID             list_of_utterances
0                u0                 u2      m0  ['L194' 'L195' 'L196' 'L197']
1                u0                 u2      m0                ['L198' 'L199']
2                u0                 u2      m0  ['L200' 'L201' 'L202' 'L203']
3                u0                 u2      m0         ['L204' 'L205' 'L206']
4                u0                 u2      m0                ['L207' 'L208']

In [11]:
lines_df.columns = lines_cols
lines_df.head()

  lineID characterID movieID character_name text_of_utterances
0  L1045          u0      m0         BIANCA       They do not!
1  L1044          u2      m0        CAMERON        They do to!
2   L985          u0      m0         BIANCA         I hope so.
3   L984          u2      m0        CAMERON          She okay?
4   L925          u0      m0         BIANCA          Let's go.

In [12]:
characters_df.columns=characters_metadata_cols
characters_df.head()

,characterID,character_name,movieID,movieTitle,gender,position_in_credits
0,u0,BIANCA,m0,10 things i hate about you,f,4
1,u1,BRUCE,m0,10 things i hate about you,?,?
2,u2,CAMERON,m0,10 things i hate about you,m,3
3,u3,CHASTITY,m0,10 things i hate about you,?,?
4,u4,JOEY,m0,10 things i hate about you,m,6

In [13]:
conver_df.shape, lines_df.shape, characters_df.shape

((83097, 4), (293202, 5), (9034, 6))

In [14]:
df = pd.merge(lines_df, characters_df, how='inner', on=['characterID','movieID','character_name'],
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False)
df.head()

,lineID,characterID,movieID,character_name,text_of_utterances,movieTitle,gender,position_in_credits
0,L1045,u0,m0,BIANCA,They do not!,10 things i hate about you,f,4
1,L985,u0,m0,BIANCA,I hope so.,10 things i hate about you,f,4
2,L925,u0,m0,BIANCA,Let's go.,10 things i hate about you,f,4
3,L872,u0,m0,BIANCA,Okay -- you're gonna need to learn how to lie.,10 things i hate about you,f,4
4,L869,u0,m0,BIANCA,Like my fear of wearing pastels?,10 things i hate about you,f,4

In [15]:
df.shape

(288447, 8)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 288447 entries, 0 to 288446
Data columns (total 8 columns):
lineID                 288447 non-null object
characterID            288447 non-null object
movieID                288447 non-null object
character_name         288404 non-null object
text_of_utterances     288193 non-null object
movieTitle             288447 non-null object
gender                 288447 non-null object
position_in_credits    288447 non-null object
dtypes: object(8)
memory usage: 19.8+ MB

In [20]:
df.loc[df['text_of_utterances'].isnull()==True]

,lineID,characterID,movieID,character_name,text_of_utterances,movieTitle,gender,position_in_credits
5022,L239088,u1125,m74,JANOSZ,NaN,ghostbusters ii,m,8
13859,L283548,u1356,m90,BRUCE,NaN,his girl friday,m,3
19035,L303243,u1475,m100,JOE,NaN,innerspace,M,?
42890,L24609,u224,m14,SYKES,NaN,alien nation,m,1
67870,L535288,u2919,m192,KRUGE,NaN,star trek iii: the search for spock,?,?
67880,L535203,u2919,m192,KRUGE,NaN,star trek iii: the search for spock,?,?
67884,L535163,u2919,m192,KRUGE,NaN,star trek iii: the search for spock,?,?
67902,L535148,u2919,m192,KRUGE,NaN,star trek iii: the search for spock,?,?
67904,L535133,u2919,m192,KRUGE,NaN,star trek iii: the search for spock,?,?
71079,L540986,u3027,m198,DONATRA,NaN,star trek: nemesis,?,?
71083,L541062,u3028,m198,GEORDI,NaN,star trek: nemesis,m,4
71125,L540485,u3030,m198,JANEWAY,NaN,star trek: nemesis,?,?
71126,L540483,u3030,m198,JANEWAY,NaN,star trek: nemesis,?,?
71130,L540476,u3030,m198,JANEWAY,NaN,star trek: nemesis,?,?
71474,L540816,u3035,m198,SURAN,NaN,star trek: nemesis,?,?
83562,L619064,u3321,m220,MAVERICK,NaN,top gun,m,1
100654,L50129,u3766,m248,CORBETT,NaN,arctic blue,m,1
108480,L78957,u3981,m265,BETELGEUSE,NaN,beetle juice,m,?
117456,L108719,u4222,m282,MARIE,NaN,the bourne identity,f,2
117479,L108659,u4222,m282,MARIE,NaN,the bourne identity,f,2
117494,L108818,u4224,m282,OPERATOR/PHONE,NaN,the bourne identity,?,?
122679,L123443,u4375,m290,ADONIS,NaN,catwoman,?,?
126030,L127520,u4445,m294,SANDY,NaN,cherry falls,f,8
126104,L129197,u4449,m295,ARLO,NaN,chill factor,m,1
126105,L128889,u4449,m295,ARLO,NaN,chill factor,m,1
126111,L128298,u4449,m295,ARLO,NaN,chill factor,m,1
126113,L128279,u4449,m295,ARLO,NaN,chill factor,m,1
126114,L128278,u4449,m295,ARLO,NaN,chill factor,m,1
126148,L129530,u4449,m295,ARLO,NaN,chill factor,m,1
126149,L129528,u4449,m295,ARLO,NaN,chill factor,m,1
...,...,...,...,...,...,...,...,...
234696,L500741,u7607,m513,TINA'S VOICE,NaN,shampoo,?,?
234699,L500735,u7607,m513,TINA'S VOICE,NaN,shampoo,?,?
234701,L500731,u7607,m513,TINA'S VOICE,NaN,shampoo,?,?
238549,L520970,u7709,m522,BIENSTOCK,NaN,some like it hot,?,?
248942,L555083,u7959,m539,GILLIS,NaN,sunset blvd.,m,1
249923,L556463,u7984,m541,CLERK,NaN,superman iii,?,?
250454,L558110,u8003,m542,LEX,NaN,superman ii,?,?
251477,L564522,u8041,m545,DOLORES,NaN,the sweet hereafter,f,5
253192,L570921,u8096,m549,SARAH,NaN,the terminator,f,3
267617,L621570,u8543,m579,SID,NaN,toy story,?,?
269206,L624386,u8599,m583,KLAA,NaN,star trek v: the final frontier,?,?
269207,L624260,u8599,m583,KLAA,NaN,star trek v: the final frontier,?,?
269208,L624109,u8599,m583,KLAA,NaN,star trek v: the final frontier,?,?
269210,L624051,u8599,m583,KLAA,NaN,star trek v: the final frontier,?,?
269211,L624048,u8599,m583,KLAA,NaN,star trek v: the final frontier,?,?
269212,L624045,u8599,m583,KLAA,NaN,star trek v: the final frontier,?,?
269213,L624043,u8599,m583,KLAA,NaN,star trek v: the final frontier,?,?
269399,L624387,u8606,m583,VIXIS,NaN,star trek v: the final frontier,?,?
269400,L624261,u8606,m583,VIXIS,NaN,star trek v: the final frontier,?,?
269401,L624110,u8606,m583,VIXIS,NaN,star trek v: the final frontier,?,?
269402,L624108,u8606,m583,VIXIS,NaN,star trek v: the final frontier,?,?
269403,L624052,u8606,m583,VIXIS,NaN,star trek v: the final frontier,?,?
269404,L624050,u8606,m583,VIXIS,NaN,star trek v: the final frontier,?,?
269405,L624049,u8606,m583,VIXIS,NaN,star trek v: the final frontier,?,?
269406,L624044,u8606,m583,VIXIS,NaN,star trek v: the final frontier,?,?
269407,L624042,u8606,m583,VIXIS,NaN,star trek v: the final frontier,?,?
279850,L649938,u8876,m603,LASHER,NaN,the witching hour,?,?
279945,L649416,u8879,m603,MICHAEL,NaN,the witching hour,M,?
283992,L663421,u8980,m612,DREIBERG,NaN,watchmen,m,6
285602,L666160,u9020,m615,INGA,NaN,young frankenstein,f,5

In [21]:
#Select only dialogue that is not null
df = df[df['text_of_utterances'].notnull()]

In [22]:
df.to_csv('merged_data.csv', index= False)

In [23]:
df = pd.read_csv('merged_data.csv')
df.head()

,lineID,characterID,movieID,character_name,text_of_utterances,movieTitle,gender,position_in_credits
0,L1045,u0,m0,BIANCA,They do not!,10 things i hate about you,f,4
1,L985,u0,m0,BIANCA,I hope so.,10 things i hate about you,f,4
2,L925,u0,m0,BIANCA,Let's go.,10 things i hate about you,f,4
3,L872,u0,m0,BIANCA,Okay -- you're gonna need to learn how to lie.,10 things i hate about you,f,4
4,L869,u0,m0,BIANCA,Like my fear of wearing pastels?,10 things i hate about you,f,4

In [24]:
df.shape

(288193, 8)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288193 entries, 0 to 288192
Data columns (total 8 columns):
lineID                 288193 non-null object
characterID            288193 non-null object
movieID                288193 non-null object
character_name         288150 non-null object
text_of_utterances     288193 non-null object
movieTitle             288193 non-null object
gender                 288193 non-null object
position_in_credits    288193 non-null object
dtypes: object(8)
memory usage: 17.6+ MB