In [0]:
# Movie-Quotes Corpus

In [0]:
import pandas as pd

In [0]:
import os
import ast

class CornellData:
# 给出文件存放目录
    def __init__(self, dirName):

        self.lines = {}
        self.conversations = []

        MOVIE_LINES_FIELDS = ["lineID","characterID","movieID","character","text"]
        MOVIE_CONVERSATIONS_FIELDS = ["character1ID","character2ID","movieID","utteranceIDs"]

        self.lines = self.loadLines(os.path.join(dirName, "movie_lines.txt"), MOVIE_LINES_FIELDS)
        self.conversations = self.loadConversations(os.path.join(dirName, "movie_conversations.txt"), MOVIE_CONVERSATIONS_FIELDS)

    def loadLines(self, fileName, fields):
        """
        Args:
            fileName (str): 需要加载的文件
            field (set<str>): 提取字段
        Return:
            dict<dict<str>>: 每行提取的字段
        """
        lines = {}

        with open(fileName, 'r', encoding='iso-8859-1') as f:
            for line in f:
                values = line.split(" +++$+++ ")

                # 提取字段
                lineObj = {}
                for i, field in enumerate(fields):
                    lineObj[field] = values[i]

                lines[lineObj['lineID']] = lineObj
        # 返回数据
        return lines

    def loadConversations(self, fileName, fields):
        """
        Args:
            fileName (str): 需要加载的文件
            field (set<str>): 提取字段
        Return:
            dict<dict<str>>: 每一行提取的字段
        """
        conversations = []

        with open(fileName, 'r', encoding='iso-8859-1') as f:  # TODO: Solve Iso encoding pb !
            for line in f:
                values = line.split(" +++$+++ ")

                # 提取字段
                convObj = {}
                for i, field in enumerate(fields):
                    convObj[field] = values[i]

                # 将字符串转化为列表
                lineIds = ast.literal_eval(convObj["utteranceIDs"])

                # 重组行
                convObj["lines"] = []
                for lineId in lineIds:
                    convObj["lines"].append(self.lines[lineId])

                conversations.append(convObj)

        return conversations
    # 返回数据
    def getConversations(self):
        return self.conversations
      
    def getLines(self):
        return self.lines

In [0]:
from google.colab import files

uploaded = files.upload()

Saving movie_conversations.txt to movie_conversations (2).txt

In [0]:
# from google.colab import drive
# drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
with open('README.txt', encoding = "ISO-8859-1") as f:
  print(f.read())

f.close()

Cornell Movie-Dialogs Corpus

Distributed together with:

"Chameleons in imagined conversations: A new approach to understanding coordination of linguistic style in dialogs"
Cristian Danescu-Niculescu-Mizil and Lillian Lee
Proceedings of the Workshop on Cognitive Modeling and Computational Linguistics, ACL 2011.

(this paper is included in this zip file)

NOTE: If you have results to report on these corpora, please send email to cristian@cs.cornell.edu or llee@cs.cornell.edu so we can add you to our list of people using this data.  Thanks!


Contents of this README:

	A) Brief description
	B) Files description
	C) Details on the collection procedure
	D) Contact


A) Brief description:

This corpus contains a metadata-rich collection of fictional conversations extracted from raw movie scripts:

- 220,579 conversational exchanges between 10,292 pairs of movie characters
- involves 9,035 characters from 617 movies
- in total 304,713 utterances
- movie metadata included:
	- genres
	- release year
	- IMDB rating
	- number of IMDB votes
	- IMDB rating
- character metadata included:
	- gender (for 3,774 characters)
	- position on movie credits (3,321 characters)


B) Files description:

In all files the field separator is " +++$+++ "

- movie_titles_metadata.txt
	- contains information about each movie title
	- fields:
		- movieID,
		- movie title,
		- movie year,
	   	- IMDB rating,
		- no. IMDB votes,
 		- genres in the format ['genre1','genre2',É,'genreN']

- movie_characters_metadata.txt
	- contains information about each movie character
	- fields:
		- characterID
		- character name
		- movieID
		- movie title
		- gender ("?" for unlabeled cases)
		- position in credits ("?" for unlabeled cases)

- movie_lines.txt
	- contains the actual text of each utterance
	- fields:
		- lineID
		- characterID (who uttered this phrase)
		- movieID
		- character name
		- text of the utterance

- movie_conversations.txt
	- the structure of the conversations
	- fields
		- characterID of the first character involved in the conversation
		- characterID of the second character involved in the conversation
		- movieID of the movie in which the conversation occurred
		- list of the utterances that make the conversation, in chronological
			order: ['lineID1','lineID2',É,'lineIDN']
			has to be matched with movie_lines.txt to reconstruct the actual content

- raw_script_urls.txt
	- the urls from which the raw sources were retrieved

C) Details on the collection procedure:

We started from raw publicly available movie scripts (sources acknowledged in
raw_script_urls.txt).  In order to collect the metadata necessary for this study
and to distinguish between two script versions of the same movie, we automatically
 matched each script with an entry in movie database provided by IMDB (The Internet
 Movie Database; data interfaces available at http://www.imdb.com/interfaces). Some
 amount of manual correction was also involved. When  more than one movie with the same
 title was found in IMBD, the match was made with the most popular title
(the one that received most IMDB votes)

After discarding all movies that could not be matched or that had less than 5 IMDB
votes, we were left with 617 unique titles with metadata including genre, release
year, IMDB rating and no. of IMDB votes and cast distribution.  We then identified
the pairs of characters that interact and separated their conversations automatically
using simple data processing heuristics. After discarding all pairs that exchanged
less than 5 conversational exchanges there were 10,292 left, exchanging 220,579
conversational exchanges (304,713 utterances).  After automatically matching the names
of the 9,035 involved characters to the list of cast distribution, we used the
gender of each interpreting actor to infer the fictional gender of a subset of
3,321 movie characters (we raised the number of gendered 3,774 characters through
 manual annotation). Similarly, we collected the end credit position of a subset
of 3,321 characters as a proxy for their status.


D) Contact:

Please email any questions to: cristian@cs.cornell.edu (Cristian Danescu-Niculescu-Mizil)

In [0]:
#!/usr/bin/env python3
import fileinput

with fileinput.FileInput('movie_conversations (2).txt', inplace=True, backup='.bak') as file:
    for line in file:
        print(line.replace(" +++$+++ ", "\t"), end='')

In [0]:
data = pd.read_csv('movie_conversations (2).txt', sep="\t", header=None, error_bad_lines=False, names = ["characterID_First", "characterID_second", "movieID", "list_of_utterances"], engine='python')
# data.columns = ["characterID_First", "characterID_second", "movieID", "list_of_utterances"]
data.head()

  characterID_First  ...                list_of_utterances
0                u0  ...  ['L194', 'L195', 'L196', 'L197']
1                u0  ...                  ['L198', 'L199']
2                u0  ...  ['L200', 'L201', 'L202', 'L203']
3                u0  ...          ['L204', 'L205', 'L206']
4                u0  ...                  ['L207', 'L208']

[5 rows x 4 columns]

In [0]:
data.to_csv('movie_conversations.csv', index=False)
data_0 = pd.read_csv('movie_conversations.csv')
data_0.head()

  characterID_First  ...                list_of_utterances
0                u0  ...  ['L194', 'L195', 'L196', 'L197']
1                u0  ...                  ['L198', 'L199']
2                u0  ...  ['L200', 'L201', 'L202', 'L203']
3                u0  ...          ['L204', 'L205', 'L206']
4                u0  ...                  ['L207', 'L208']

[5 rows x 4 columns]

In [0]:
#!/usr/bin/env python3
import fileinput


def read_txt(filename):
  with fileinput.FileInput(filename, inplace=True, backup='.bak') as file:
      for line in file:
        print(line)
        try:
          print(line.replace(" +++$+++ ", "\t"), end='')
        except:
          line.encode('utf-8').strip()
          print(line.replace(" +++$+++ ", "\t"), end='')
#         break

In [0]:
# read_txt('movie_characters_metadata.txt')
# read_txt('movie_titles_metadata.txt')
read_txt('movie_lines.txt')

In [0]:
ls

movie_characters_metadata.txt  movie_conversations.txt.bak  raw_script_urls.txt
movie_conversations.csv        movie_lines.txt              README.txt
movie_conversations.txt        movie_titles_metadata.txt

In [0]:
		- movieID, 
		- movie title,
		- movie year, 
	   	- IMDB rating,
		- no. IMDB votes,
 		- genres in the format ['genre1','genre2',É,'genreN']

In [0]:
data = pd.read_csv('movie_titles_metadata.txt', sep="\t", header=None, error_bad_lines=False, engine='python',names=['movieID', 'movieTitle', 'movieYear', 'IMDB_rating', 'numIMDBvotes', 'Genres'])
data.head()

  movieID  ...                                          Genres
0      m0  ...                           ['comedy', 'romance']
1      m0  ...                           ['comedy', 'romance']
2      m1  ...  ['adventure', 'biography', 'drama', 'history']
3      m1  ...  ['adventure', 'biography', 'drama', 'history']
4      m2  ...        ['action', 'crime', 'drama', 'thriller']

[5 rows x 6 columns]

In [0]:
data.to_csv('movie_titles_metadata.csv', index=False)
data_0 = pd.read_csv('movie_titles_metadata.csv')
data_0.head()

  movieID  ...                                          Genres
0      m0  ...                           ['comedy', 'romance']
1      m0  ...                           ['comedy', 'romance']
2      m1  ...  ['adventure', 'biography', 'drama', 'history']
3      m1  ...  ['adventure', 'biography', 'drama', 'history']
4      m2  ...        ['action', 'crime', 'drama', 'thriller']

[5 rows x 6 columns]

In [0]:
- movie_lines.txt
	- contains the actual text of each utterance
	- fields:
		- lineID
		- characterID (who uttered this phrase)
		- movieID
		- character name
		- text of the utterance

In [0]:
data = pd.read_csv('movie_lines.txt', sep="\t", header=None, error_bad_lines=False, engine='python',names=['lineID', 'characterID', 'movieID', 'character_name', 'text_of_utterances'])
data.head()

Skipping line 1591: '	' expected after '"'
Skipping line 1593: '	' expected after '"'
Skipping line 9556: '	' expected after '"'
Skipping line 9558: '	' expected after '"'
Skipping line 10678: '	' expected after '"'
Skipping line 10680: '	' expected after '"'

  lineID characterID movieID character_name text_of_utterances
0  L1045          u0      m0         BIANCA       They do not!
1  L1045          u0      m0         BIANCA       They do not!
2  L1044          u2      m0        CAMERON        They do to!
3  L1044          u2      m0        CAMERON        They do to!
4   L985          u0      m0         BIANCA         I hope so.

In [0]:
data.to_csv('movie_lines.csv', index=False)
data_0 = pd.read_csv('movie_lines.csv')
data_0.head()

  lineID characterID movieID character_name text_of_utterances
0  L1045          u0      m0         BIANCA       They do not!
1  L1045          u0      m0         BIANCA       They do not!
2  L1044          u2      m0        CAMERON        They do to!
3  L1044          u2      m0        CAMERON        They do to!
4   L985          u0      m0         BIANCA         I hope so.

In [0]:
data_0.shape

(10802, 5)

In [0]:
ls

movie_characters_metadata.txt      movie_lines.txt.bak
movie_characters_metadata.txt.bak  movie_titles_metadata.csv
movie_conversations.csv            movie_titles_metadata.txt
movie_conversations.txt            movie_titles_metadata.txt.bak
movie_conversations.txt.bak        raw_script_urls.txt
movie_lines.csv                    README.txt
movie_lines.txt