# Multilabel

https://towardsdatascience.com/journey-to-the-center-of-multi-label-classification-384c40229bff

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import scipy.stats as stats

# Always make it pretty.
plt.style.use('ggplot')

In [3]:
multilabel = pd.read_csv('genres_labeled_6405.csv')
multilabel.head()

,actor_id,words,id_doc,name,gender,knownForTitles,genres_pro
0,nm0000239,tyler tyler septemb bear rundgren juli york ci...,"[729, 729, 633, 5, 609, 387, 769, 166, 769, 59...",Liv Tyler,F,"tt0120591,tt0120737,tt0167260,tt0482606","0.0,0.25,0.0,0.0,0.0,0.0,0.16666666666666666,0..."
1,nm3931285,terri moor refer terri moor basebal american m...,"[800, 475, 37, 800, 475, 776, 0, 438, 786, 776...",Terry Moore,M,tt0858411,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0...."
2,nm1483196,jerri ferrara bear novemb brooklyn york occup ...,"[840, 829, 5, 496, 809, 769, 501, 772, 768, 59...",Jerry Ferrara,M,"tt1204975,tt1621045,tt1674771","0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0...."
3,nm4419771,justin lupe bear denver colorado educ juilliar...,"[981, 982, 5, 976, 974, 232, 980, 619, 501, 60...",Justine Lupe,F,tt2347569,"0.0,0.0,0.3333333333333333,0.0,0.0,0.0,0.0,0.0..."
4,nm1019674,articl need addit citat verif help improv arti...,"[2, 484, 988, 992, 1023, 341, 999, 2, 62, 992,...",Sala Baker,M,"tt1515091,tt2072233,tt5001754,tt5463162","0.0,0.18181818181818182,0.0,0.0,0.181818181818..."

In [ ]:
# genres_pro
# ['Adult', 'Adventure', 'Romance', 'History', 'Crime',
#        'Western', 'Fantasy', 'Documentary', 'Horror', 'Mystery', 'Reality-TV',
#        'Talk-Show', 'Sci-Fi', 'Thriller', 'News', 'Action', 'War', 'Animation',
#        'Short', 'Game-Show', 'Comedy', 'Biography', 'Sport', 'Musical',
#        'Music', 'Family', 'Drama', 'Film-Noir']

In [ ]:
multilabel = 'genres_labeled_6405.csv'

In [ ]:
actors_vs_8743_lables_v2_6405.gender.value_counts()