In [8]:
import pandas as pd
from load_data import load_data

In [9]:
data1_path = "./c/actor_words.csv"
data2_path = "./actors_70s.csv"
new_all_data = load_data(data1_path, data2_path)
new_all_data.head()

,actor_id,actor_name,words
0,nm0005211,Danica McKellar,danica Mc kellar Mc kellar 2018 u. nation book...
1,nm0005576,Drea de Matteo,drea de matteo De matteo 2005 born andrea donn...
2,nm0011589,Amanda Aday,amanda aday born amanda lee aday 1981-01-21 ja...
3,nm0028846,Shawn Andrews,american footbal guard tackl actor see shawn a...
4,nm0036571,Monica,look monica monica wiktionari free dictionari ...

In [10]:
new_all_data.shape

(8743, 3)