In [0]:
# Example

In [0]:
doc1 = "Sugar is bad to consume. My sister likes to have sugar, but not my father."
doc2 = "My father spends a lot of time driving my sister around to dance practice."
doc3 = "Doctors suggest that driving may cause increased stress and blood pressure."
doc4 = "Sometimes I feel pressure to perform well at school, but my father never seems to drive my sister to do better."
doc5 = "Health experts say that Sugar is not good for your lifestyle."

# compile documents
doc_complete = [doc1, doc2, doc3, doc4, doc5]

In [0]:
import nltk

nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [0]:
from nltk.corpus import stopwords 

from nltk.stem.wordnet import WordNetLemmatizer
import string
stop = set(stopwords.words('english'))
exclude = set(string.punctuation) 
lemma = WordNetLemmatizer()
def clean(doc):
    stop_free = " ".join([i for i in doc.lower().split() if i not in stop])
    punc_free = ''.join(ch for ch in stop_free if ch not in exclude)
    normalized = " ".join(lemma.lemmatize(word) for word in punc_free.split())
    return normalized

doc_clean = [clean(doc).split() for doc in doc_complete]

In [0]:
# Importing Gensim
import gensim
from gensim import corpora

# Creating the term dictionary of our courpus, where every unique term is assigned an index.
dictionary = corpora.Dictionary(doc_clean)

# Converting list of documents (corpus) into Document Term Matrix using dictionary prepared above.
doc_term_matrix = [dictionary.doc2bow(doc) for doc in doc_clean]

In [0]:
# Creating the object for LDA model using gensim library
Lda = gensim.models.ldamodel.LdaModel

# Running and Trainign LDA model on the document term matrix.
ldamodel = Lda(doc_term_matrix, num_topics=3, id2word = dictionary, passes=50)

In [0]:
print(ldamodel.print_topics(num_topics=3, num_words=3))

[(0, '0.076*"sugar" + 0.076*"father" + 0.076*"sister"'), (1, '0.065*"driving" + 0.065*"pressure" + 0.064*"suggest"'), (2, '0.050*"spends" + 0.050*"practice" + 0.050*"around"')]

In [0]:
# try LDV

In [0]:
import pandas as pd;
import numpy as np;
import scipy as sp;
import sklearn;
import sys;
from nltk.corpus import stopwords;
import nltk;
from gensim.models import ldamodel
import gensim.corpora;
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer;
from sklearn.decomposition import NMF;
from sklearn.preprocessing import normalize;
import pickle;

In [0]:
from google.colab import files

uploaded = files.upload()

Saving df_1000p_words_index.csv to df_1000p_words_index.csv

In [0]:
ls

df_1000p_words_index.csv  sample_data/

In [0]:
data = pd.read_csv('df_1000p_words_index.csv');

In [0]:
data.head()

    actor_id  ...                                        words_index
0  nm0005211  ...  [3759, 2074, 6972, 16428, 8561, 15525, 18641, ...
1  nm0005576  ...  [334, 334, 6972, 1401, 18732, 15525, 5545, 179...
2  nm0028846  ...  [16144, 5693, 1291, 14329, 15044, 9403, 4235, ...
3  nm0036571  ...  [19323, 13774, 13774, 2359, 13774, 4500, 14745...
4  nm0038875  ...  [15599, 13821, 660, 2746, 11661, 15058, 11742,...

[5 rows x 4 columns]

In [0]:
# We only need the Headlines text column from the data
data_text = data[['words']];

In [0]:
type(data_text)

pandas.core.frame.DataFrame

In [0]:
len(data_text)

1000

In [0]:
data_text.head()

                                               words
0  danica mckellarmckellar 2018u. . nation book f...
1  drea de matteod matteo 2005bornandrea donna de...
2  american footbal guard tackl actor , see shawn...
3  look monica monica wiktionari , free dictionar...
4  thi biographi live person need addit citat ver...

In [0]:
import string

In [0]:
data_text = data_text.astype('str')

In [0]:
temp = [word for word in data_text.iloc[0]['words'].split(' ') if word not in stopwords.words() and word not in string.punctuation]
temp

['danica',
 'mckellarmckellar',
 '2018u.',
 'nation',
 'book',
 'festivalborndanica',
 'mae',
 'mckellar',
 '1975-01-03',
 'januari',
 '3',
 '1975',
 'age',
 '44',
 'La',
 'california',
 'u.s.nationalityamericaneducationbachelor',
 'scienc',
 'mathemat',
 'honor',
 'summa',
 'laud',
 'alma',
 'materuclaoccupationactress',
 'mathemat',
 'writer',
 'educ',
 'advocateyear',
 'active1985–presentspous',
 'michael',
 '``',
 'mike',
 "''",
 'verta',
 'm.',
 '2009–2012',
 'scott',
 'svesloski',
 'm.',
 '2014',
 'children1websit',
 'danicamckellar.com',
 'twitter.com/danicamckellar',
 'mckellarmath.com',
 'danica',
 'mae',
 'mckellar',
 'born',
 'januari',
 '3',
 '1975',
 '1',
 'american',
 'actress',
 'mathemat',
 'writer',
 'educ',
 'advoc',
 'play',
 'kevin',
 'arnold',
 "'s",
 'on-off',
 'girlfriend',
 'winni',
 'cooper',
 'televis',
 'seri',
 'wonder',
 'year',
 '2010–2013',
 'sinc',
 '2019',
 'mckellar',
 'voic',
 'miss',
 'martian',
 'anim',
 'superhero',
 'seri',
 'young',
 'justic',
 'In',
 '2015',
 'mckellar',
 'wa',
 'cast',
 'netflix',
 'origin',
 'seri',
 'project',
 'mc2',
 'appear',
 'sever',
 'televis',
 'film',
 'hallmark',
 'channel',
 'current',
 'voic',
 'judi',
 'jetson',
 'jetson',
 'sinc',
 '2017',
 'follow',
 'janet',
 'waldo',
 "'s",
 'death',
 '2016',
 'In',
 'addit',
 'act',
 'work',
 'mckellar',
 'later',
 'wrote',
 'six',
 'non-fict',
 'book',
 'deal',
 'mathemat',
 'bachelor',
 "'s",
 'degre',
 'mathemat',
 'ucla',
 'math',
 'doe',
 "n't",
 'suck',
 'kiss',
 'My',
 'math',
 'hot',
 'X',
 'algebra',
 'expos',
 'girl',
 'get',
 'curv',
 'geometri',
 'take',
 'shape',
 'encourag',
 'middle-school',
 'high-school',
 'girl',
 'confid',
 'succeed',
 'mathemat',
 'goodnight',
 'number',
 'Do',
 'open',
 'math',
 'book',
 '2',
 '3',
 '4',
 'danica',
 'mckellarmckellar',
 '2018u.',
 'nation',
 'book',
 'festivalborndanica',
 'mae',
 'mckellar',
 '1975-01-03',
 'januari',
 '3',
 '1975',
 'age',
 '44',
 'La',
 'california',
 'u.s.nationalityamericaneducationbachelor',
 'scienc',
 'mathemat',
 'honor',
 'summa',
 'laud',
 'alma',
 'materuclaoccupationactress',
 'mathemat',
 'writer',
 'educ',
 'advocateyear',
 'active1985–presentspous',
 'michael',
 '``',
 'mike',
 "''",
 'verta',
 'm.',
 '2009–2012',
 'scott',
 'svesloski',
 'm.',
 '2014',
 'children1websit',
 'danicamckellar.com',
 'twitter.com/danicamckellar',
 'mckellarmath.com',
 'danica',
 'mae',
 'mckellar',
 'born',
 'januari',
 '3',
 '1975',
 '1',
 'american',
 'actress',
 'mathemat',
 'writer',
 'educ',
 'advoc',
 'play',
 'kevin',
 'arnold',
 "'s",
 'on-off',
 'girlfriend',
 'winni',
 'cooper',
 'televis',
 'seri',
 'wonder',
 'year',
 '2010–2013',
 'sinc',
 '2019',
 'mckellar',
 'voic',
 'miss',
 'martian',
 'anim',
 'superhero',
 'seri',
 'young',
 'justic',
 'In',
 '2015',
 'mckellar',
 'wa',
 'cast',
 'netflix',
 'origin',
 'seri',
 'project',
 'mc2',
 'appear',
 'sever',
 'televis',
 'film',
 'hallmark',
 'channel',
 'current',
 'voic',
 'judi',
 'jetson',
 'jetson',
 'sinc',
 '2017',
 'follow',
 'janet',
 'waldo',
 "'s",
 'death',
 '2016',
 'In',
 'addit',
 'act',
 'work',
 'mckellar',
 'later',
 'wrote',
 'six',
 'non-fict',
 'book',
 'deal',
 'mathemat',
 'bachelor',
 "'s",
 'degre',
 'mathemat',
 'ucla',
 'math',
 'doe',
 "n't",
 'suck',
 'kiss',
 'My',
 'math',
 'hot',
 'X',
 'algebra',
 'expos',
 'girl',
 'get',
 'curv',
 'geometri',
 'take',
 'shape',
 'encourag',
 'middle-school',
 'high-school',
 'girl',
 'confid',
 'succeed',
 'mathemat',
 'goodnight',
 'number',
 'Do',
 'open',
 'math',
 'book',
 '2',
 '3',
 '4',
 'danica',
 'mckellarmckellar',
 '2018u.',
 'nation',
 'book',
 'festivalborndanica',
 'mae',
 'mckellar',
 '1975-01-03',
 'januari',
 '3',
 '1975',
 'age',
 '44',
 'La',
 'california',
 'u.s.nationalityamericaneducationbachelor',
 'scienc',
 'mathemat',
 'honor',
 'summa',
 'laud',
 'alma',
 'materuclaoccupationactress',
 'mathemat',
 'writer',
 'educ',
 'advocateyear',
 'active1985–presentspous',
 'michael',
 '``',
 'mike',
 "''",
 'verta',
 'm.',
 '2009–2012',
 'scott',
 'svesloski',
 'm.',
 '2014',
 'children1websit',
 'danicamckellar.com',
 'twitter.com/danicamckellar',
 'mckellarmath.com',
 'danica',
 'mae',
 'mckellar',
 'born',
 'januari',
 '3',
 '1975',
 '1',
 'american',
 'actress',
 'mathemat',
 'writer',
 'educ',
 'advoc',
 'play',
 'kevin',
 'arnold',
 "'s",
 'on-off',
 'girlfriend',
 'winni',
 'cooper',
 'televis',
 'seri',
 'wonder',
 'year',
 '2010–2013',
 'sinc',
 '2019',
 'mckellar',
 'voic',
 'miss',
 'martian',
 'anim',
 'superhero',
 'seri',
 'young',
 'justic',
 'In',
 '2015',
 'mckellar',
 'wa',
 'cast',
 'netflix',
 'origin',
 'seri',
 'project',
 'mc2',
 'appear',
 'sever',
 'televis',
 'film',
 'hallmark',
 'channel',
 'current',
 'voic',
 'judi',
 'jetson',
 'jetson',
 'sinc',
 '2017',
 'follow',
 'janet',
 'waldo',
 "'s",
 'death',
 '2016',
 'In',
 'addit',
 'act',
 'work',
 'mckellar',
 'later',
 'wrote',
 'six',
 'non-fict',
 'book',
 'deal',
 'mathemat',
 'bachelor',
 "'s",
 'degre',
 'mathemat',
 'ucla',
 'math',
 'doe',
 "n't",
 'suck',
 'kiss',
 'My',
 'math',
 'hot',
 'X',
 'algebra',
 'expos',
 'girl',
 'get',
 'curv',
 'geometri',
 'take',
 'shape',
 'encourag',
 'middle-school',
 'high-school',
 'girl',
 'confid',
 'succeed',
 'mathemat',
 'goodnight',
 'number',
 'Do',
 'open',
 'math',
 'book',
 '2',
 '3',
 '4',
 'danica',
 'mckellarmckellar',
 '2018u.',
 'nation',
 'book',
 'festivalborndanica',
 'mae',
 'mckellar',
 '1975-01-03',
 'januari',
 '3',
 '1975',
 'age',
 '44',
 'La',
 'california',
 'u.s.nationalityamericaneducationbachelor',
 'scienc',
 'mathemat',
 'honor',
 'summa',
 'laud',
 'alma',
 'materuclaoccupationactress',
 'mathemat',
 'writer',
 'educ',
 'advocateyear',
 'active1985–presentspous',
 'michael',
 '``',
 'mike',
 "''",
 'verta',
 'm.',
 '2009–2012',
 'scott',
 'svesloski',
 'm.',
 '2014',
 'children1websit',
 'danicamckellar.com',
 'twitter.com/danicamckellar',
 'mckellarmath.com',
 'danica',
 'mae',
 'mckellar',
 'born',
 'januari',
 '3',
 '1975',
 '1',
 'american',
 'actress',
 'mathemat',
 'writer',
 'educ',
 'advoc',
 'play',
 'kevin',
 'arnold',
 "'s",
 'on-off',
 'girlfriend',
 'winni',
 'cooper',
 'televis',
 'seri',
 'wonder',
 'year',
 '2010–2013',
 'sinc',
 '2019',
 'mckellar',
 'voic',
 'miss',
 'martian',
 'anim',
 'superhero',
 'seri',
 'young',
 'justic',
 'In',
 '2015',
 'mckellar',
 'wa',
 'cast',
 'netflix',
 'origin',
 'seri',
 'project',
 'mc2',
 'appear',
 'sever',
 'televis',
 'film',
 'hallmark',
 'channel',
 'current',
 'voic',
 'judi',
 'jetson',
 'jetson',
 'sinc',
 '2017',
 'follow',
 'janet',
 'waldo',
 "'s",
 'death',
 '2016',
 'In',
 'addit',
 'act',
 'work',
 'mckellar',
 'later',
 'wrote',
 'six',
 'non-fict',
 'book',
 'deal',
 'mathemat',
 'bachelor',
 "'s",
 'degre',
 'mathemat',
 'ucla',
 'math',
 'doe',
 "n't",
 'suck',
 'kiss',
 'My',
 'math',
 'hot',
 'X',
 'algebra',
 'expos',
 'girl',
 'get',
 'curv',
 'geometri',
 'take',
 'shape',
 'encourag',
 'middle-school',
 'high-school',
 'girl',
 'confid',
 'succeed',
 'mathemat',
 'goodnight',
 'number',
 'Do',
 'open',
 'math',
 'book',
 '2',
 '3',
 '4',
 'danica',
 'mckellarmckellar',
 '2018u.',
 'nation',
 'book',
 'festivalborndanica',
 'mae',
 'mckellar',
 '1975-01-03',
 'januari',
 '3',
 '1975',
 'age',
 '44',
 'La',
 'california',
 'u.s.nationalityamericaneducationbachelor',
 'scienc',
 'mathemat',
 'honor',
 'summa',
 'laud',
 'alma',
 'materuclaoccupationactress',
 'mathemat',
 'writer',
 'educ',
 'advocateyear',
 'active1985–presentspous',
 'michael',
 '``',
 'mike',
 "''",
 'verta',
 'm.',
 '2009–2012',
 'scott',
 'svesloski',
 'm.',
 '2014',
 'children1websit',
 'danicamckellar.com',
 'twitter.com/danicamckellar',
 'mckellarmath.com',
 'danica',
 'mae',
 'mckellar',
 'born',
 'januari',
 '3',
 '1975',
 '1',
 'american',
 'actress',
 'mathemat',
 'writer',
 'educ',
 'advoc',
 'play',
 'kevin',
 'arnold',
 "'s",
 'on-off',
 'girlfriend',
 'winni',
 'cooper',
 'televis',
 'seri',
 'wonder',
 'year',
 '2010–2013',
 'sinc',
 '2019',
 'mckellar',
 'voic',
 'miss',
 'martian',
 'anim',
 'superhero',
 'seri',
 'young',
 'justic',
 'In',
 '2015',
 'mckellar',
 'wa',
 'cast',
 'netflix',
 'origin',
 'seri',
 'project',
 'mc2',
 'appear',
 'sever',
 'televis',
 'film',
 'hallmark',
 'channel',
 'current',
 'voic',
 'judi',
 'jetson',
 'jetson',
 'sinc',
 '2017',
 'follow',
 'janet',
 'waldo',
 "'s",
 'death',
 '2016',
 'In',
 'addit',
 'act',
 'work',
 'mckellar',
 'later',
 'wrote',
 'six',
 'non-fict',
 'book',
 'deal',
 'mathemat',
 'bachelor',
 "'s",
 'degre',
 'mathemat',
 'ucla',
 'math',
 'doe',
 "n't",
 'suck',
 'kiss',
 'My',
 'math',
 'hot',
 'X',
 'algebra',
 'expos',
 'girl',
 'get',
 'curv',
 'geometri',
 'take',
 'shape',
 'encourag',
 'middle-school',
 'high-school',
 'girl',
 'confid',
 'succeed',
 'mathemat',
 'goodnight',
 'number',
 'Do',
 'open',
 'math',
 'book',
 '2',
 '3',
 '4',
 'danica',
 'mckellarmckellar',
 '2018u.',
 'nation',
 'book',
 'festivalborndanica',
 'mae',
 'mckellar',
 '1975-01-03',
 'januari',
 '3',
 '1975',
 'age',
 '44',
 'La',
 'california',
 'u.s.nationalityamericaneducationbachelor',
 'scienc',
 'mathemat',
 'honor',
 'summa',
 'laud',
 'alma',
 'materuclaoccupationactress',
 'mathemat',
 'writer',
 'educ',
 'advocateyear',
 'active1985–presentspous',
 'michael',
 '``',
 'mike',
 "''",
 'verta',
 'm.',
 '2009–2012',
 'scott',
 'svesloski',
 'm.',
 '2014',
 'children1websit',
 'danicamckellar.com',
 'twitter.com/danicamckellar',
 'mckellarmath.com',
 'danica',
 'mae',
 'mckellar',
 'born',
 'januari',
 '3',
 '1975',
 '1',
 'american',
 'actress',
 'mathemat',
 'writer',
 'educ',
 'advoc',
 'play',
 'kevin',
 'arnold',
 "'s",
 'on-off',
 'girlfriend',
 'winni',
 'cooper',
 'televis',
 'seri',
 'wonder',
 'year',
 '2010–2013',
 'sinc',
 '2019',
 'mckellar',
 'voic',
 'miss',
 'martian',
 'anim',
 'superhero',
 'seri',
 'young',
 'justic',
 'In',
 '2015',
 'mckellar',
 'wa',
 'cast',
 'netflix',
 'origin',
 'seri',
 'project',
 'mc2',
 'appear',
 'sever',
 'televis',
 'film',
 'hallmark',
 'channel',
 'current',
 'voic',
 'judi',
 'jetson',
 'jetson',
 'sinc',
 '2017',
 'follow',
 'janet',
 'waldo',
 "'s",
 'death',
 '2016',
 'In',
 'addit',
 'act',
 'work',
 'mckellar',
 'later',
 'wrote',
 'six',
 'non-fict',
 'book',
 'deal',
 'mathemat',
 'bachelor',
 "'s",
 'degre',
 'mathemat',
 'ucla',
 'math',
 'doe',
 "n't",
 'suck',
 'kiss',
 'My',
 'math',
 'hot',
 'X',
 'algebra',
 'expos',
 'girl',
 'get',
 'curv',
 'geometri',
 'take',
 'shape',
 'encourag',
 'middle-school',
 'high-school',
 'girl',
 'confid',
 'succeed',
 'mathemat',
 'goodnight',
 'number',
 'Do',
 'open',
 'math',
 'book',
 '2',
 '3',
 '4',
 'danica',
 'mckellarmckellar',
 '2018u.',
 'nation',
 'book',
 'festivalborndanica',
 'mae',
 'mckellar',
 '1975-01-03',
 'januari',
 '3',
 '1975',
 'age',
 '44',
 'La',
 'california',
 'u.s.nationalityamericaneducationbachelor',
 'scienc',
 'mathemat',
 'honor',
 'summa',
 'laud',
 'alma',
 'materuclaoccupationactress',
 'mathemat',
 'writer',
 'educ',
 'advocateyear',
 'active1985–presentspous',
 'michael',
 '``',
 'mike',
 "''",
 'verta',
 ...]

In [0]:
for idx in range(len(data_text)):
    
    #go through each word in each data_text row, remove stopwords, and set them on the index.
    data_text.iloc[idx]['words'] = [word for word in data_text.iloc[idx]['words'].split(' ') if word not in stopwords.words() and word not in string.punctuation]
    
    #print logs to monitor output
    if idx % 10 == 0:
        print(idx)

0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990

In [0]:
#save data because it takes very long to remove stop words
pickle.dump(data_text, open('data_text.dat', 'wb'))

In [0]:
saver = tf.train.Saver()
save_path = saver.save(session, "data/dm.ckpt")
print('done saving at',save_path)

In [0]:
import os
print( os.getcwd() )
print( os.listdir('data') )

In [0]:
#get the words as an array for lda input
train_headlines = [value[0] for value in data_text.iloc[0:].values];

In [0]:
ls

sample_data/

In [0]:
num_topics = 10;

In [0]:
id2word = gensim.corpora.Dictionary(train_headlines);
corpus = [id2word.doc2bow(text) for text in train_headlines];
lda = ldamodel.LdaModel(corpus=corpus, id2word=id2word, num_topics=num_topics);

In [0]:
def get_lda_topics(model, num_topics):
    word_dict = {};
    for i in range(num_topics):
        words = model.show_topic(i, topn = 20);
        word_dict['Topic # ' + '{:02d}'.format(i+1)] = [i[0] for i in words];
    return pd.DataFrame(word_dict);

In [0]:
get_lda_topics(lda, num_topics)

   Topic # 01 Topic # 02 Topic # 03  ...    Topic # 08 Topic # 09 Topic # 10
0          hi       film         hi  ...            wa   american         's
1          He         's   american  ...            hi          1         wa
2        film         ''        age  ...             1         hi         hi
3    american   american    actress  ...         award         's         ''
4          wa       born         's  ...            In         wa          1
5          's          1          2  ...            He       team         He
6       award         wa         He  ...            ''         ''         ``
7      record         He         wa  ...      american     record   american
8       actor         hi       born  ...         album         ``       born
9       album         ``       seri  ...            ``       year         In
10         In        age       film  ...            's       born          4
11       born       seri          1  ...        record      award      album
12        age      award      award  ...          film         He      award
13       year      first      first  ...         first          2     record
14      music          4         ''  ...           age     career        age
15     releas          2         ``  ...  championship         In       film
16          2       role      david  ...         debut      album       seri
17          1     record       role  ...        career        age          2
18       seri    actress       year  ...        releas        nba       year
19         ''         In       star  ...             2      world      world

[20 rows x 10 columns]