### TensorFlow RNN example:
* https://www.tensorflow.org/beta/tutorials/text/text_classification_rnn

In [75]:
import numpy as np
import tensorflow as tf
import pandas as pd
import gensim, matplotlib.pyplot
import sklearn.model_selection
from matplotlib import pyplot as plt
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from nltk.tokenize import word_tokenize
from tensorflow.contrib.factorization import KMeans
from tensorflow import keras

In [15]:
# Read the original CSV to produce `dictionary`

data = pd.read_csv('actor_words.csv', error_bad_lines=True, sep="\t");
len(data)
documents = [doc.split(' ') for doc in data['words']]
dictionary = gensim.corpora.Dictionary(documents)
VOCAB_LEN = len(dictionary)

In [17]:
joined_data = pd.read_csv('./joined_labeled_8743.csv', sep="\t")

In [19]:
joined_data.head()

,actor_id,words,id_doc,label
0,nm9117281,richard spencer refer edit richard spencer roy...,"[38, 46, 37, 14, 38, 46, 41, 30, 31, 38, 23, 4...",5
1,nm0000239,tyler tyler septemb bear rundgren juli york ci...,"[729, 729, 633, 5, 609, 387, 769, 166, 769, 59...",4
2,nm3931285,terri moor refer terri moor basebal american m...,"[800, 475, 37, 800, 475, 776, 0, 438, 786, 776...",5
3,nm1483196,jerri ferrara bear novemb brooklyn york occup ...,"[840, 829, 5, 496, 809, 769, 501, 772, 768, 59...",4
4,nm1636181,peopl steven fletcher steve fletcher fletcher ...,"[34, 676, 911, 675, 911, 911, 880, 527, 922, 6...",2

In [21]:
# Shuffle the data_set
shuffled_joined_data = joined_data.sample(frac=1)
shuffled_joined_data.head()

,actor_id,words,id_doc,label
8144,nm0614942,ezra weisz bear ezra weisz januari freehold to...,"[6552, 15889, 5, 6552, 15889, 924, 20191, 6019...",1
769,nm1821502,kyle stanger bear januari london england unit ...,"[3983, 21938, 5, 924, 421, 248, 733, 1294, 501...",3
8082,nm2143966,biographi live person need addit citat verif i...,"[1029, 420, 527, 484, 988, 992, 1023, 355, 804...",1
7164,nm1184243,michael mike morgan refer edit michael ryan mo...,"[1299, 2245, 2961, 37, 14, 1299, 1308, 2961, 2...",5
3528,nm2537621,jessica name name bear sydney australia occup ...,"[2101, 481, 481, 5, 1998, 1345, 501, 60, 768, ...",3

In [24]:
# Split training and testing sets

train, test = sklearn.model_selection.train_test_split(shuffled_joined_data, test_size=0.1)

In [69]:
train_X, train_Y = np.array([eval(data_str) for data_str in train['id_doc']]), [ label for label in train['label']]
test_X, test_Y = np.array([eval(data_str) for data_str in test['id_doc']]), [ label for label in test['label']]

In [73]:
max([len(e) for e in train_X])

7069

In [6]:
eval('[2,3,4]')

[2, 3, 4]

In [5]:
[2,3,4]

[2, 3, 4]

In [80]:
train_data_X = keras.preprocessing.sequence.pad_sequences(train_X,
                                                        value=0,
                                                        padding='post',
                                                        maxlen=7100)
test_data_X = keras.preprocessing.sequence.pad_sequences(test_X,
                                                        value=0,
                                                        padding='post',
                                                        maxlen=7100)

In [48]:
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(VOCAB_LEN, 64),
    tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(64)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

W0728 23:52:39.208718 140577210500928 deprecation.py:323] From /home/ubuntu/.local/lib/python3.7/site-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [ ]:
history = model.fit(x=train_data_X, y=train_Y, epochs=2, validation_data=(test_data_X, test_Y))

Train on 7868 samples, validate on 875 samples
Epoch 1/2

In [1]:
ls -al

total 1329488
drwxr-xr-x 15 ubuntu ubuntu      4096 Jul 29 00:59  ./
drwxr-xr-x 27 ubuntu ubuntu      4096 Jul 28 23:26  ../
drwxr-xr-x  2 root   root        4096 Jul 28 23:10  .ipynb_checkpoints/
-rw-r--r--  1 ubuntu ubuntu     22249 Jul  7 02:24  Doc2Vec_and_Logistic_regression.ipynb
drwxrwxr-x  5 ubuntu ubuntu      4096 May 31 06:17  Movies/
drwxrwxr-x  5 ubuntu ubuntu      4096 Jul 23 15:57  ResumeClassifier/
-rw-r--r--  1 root   root          72 Jul 28 23:10  Untitled.ipynb
drwxr-xr-x  2 root   root        4096 Jul  7 00:27  __pycache__/
-rw-r--r--  1 root   root     6391162 May 31 09:06  actor_age.csv
-rw-rw-r--  1 ubuntu ubuntu  20809168 Jul 26 08:11  actor_words.csv
-rw-rw-r--  1 ubuntu ubuntu    419517 Jul  1 05:54  actor_words_5p.csv
-rw-rw-r--  1 ubuntu ubuntu  37449160 Jul 26 07:37  actor_words_bad.csv
-rw-r--r--  1 root   root      362455 Jun 29 07:24  actors_70s.csv
-rw-r--r--  1 root   root     1145831 Jul 29 00:09  actors_filtered_pd.csv
-rw-r--r--  1 root   root      254491 Jul 29 00:59  actors_manually_label.ipynb
-rw-r--r--  1 ubuntu ubuntu   1164310 Jun 29 04:29  actors_name.csv
-rw-r--r--  1 root   root       76382 May 31 19:48  age_over_year.png
-rw-r--r--  1 root   root    37465759 Jul 21 22:46  assigned_cluster_datasets.csv
-rwxrwx---  1 ubuntu ubuntu   5999928 May 31 05:22  averageRating_overyear.csv*
lrwxrwxrwx  1 root   root          20 Jun 29 00:20  c -> /home/ubuntu/crawler/
drwxrwxr-x  3 ubuntu ubuntu      4096 Jul 28 23:49  capstone_1/
-rw-r--r--  1 ubuntu ubuntu    666375 Jul 24 08:05  coding_test_on_1000p_data.ipynb
drwxr-xr-x  6 ubuntu ubuntu      4096 Jul 15 23:36  convolutional-neural-nets/
-rw-r--r--  1 root   root    65236934 Jul 21 23:58  df_1000p_words_index.csv
-rw-r--r--  1 root   root    74619901 Jul 28 18:30  doc2vec.model
-rw-r--r--  1 root   root       24814 Jul 28 21:33  doc_to_vec_training.ipynb
drwxr-xr-x  7 ubuntu ubuntu      4096 Jul 12 07:23  factorization_recommender/
drwxr-xr-x  6 ubuntu ubuntu      4096 Jul 20 02:49  fraud-detection-case-study/
drwxrwxr-x  8 ubuntu ubuntu      4096 Jun 30 07:43  gstudy/
-rw-r--r--  1 root   root    38123067 Jul 28 22:49  joined_labeled_8743.csv
-rw-r--r--  1 root   root       80584 Jul  2 20:41  kmeans_1000features_8clusters.png
-rw-r--r--  1 root   root      261638 Jul  2 21:28  kmeans_1000p_diff_clusters.png
-rw-r--r--  1 root   root      252250 Jul  7 00:11  kmeans_all_data_50clusters.png
-rw-r--r--  1 root   root       22589 Jul  3 02:41  kmeans_silhouette.png
-rw-r--r--  1 root   root       21979 Jul  3 02:41  kmeans_wcss.png
-rw-r--r--  1 root   root       47671 Jul 28 04:00  lda_simple.ipynb
-rw-r--r--  1 root   root       61946 Jul 27 03:47  lda_simple_8743.model
-rw-r--r--  1 root   root      228296 Jul 27 03:47  lda_simple_8743.model.expElogbeta.npy
-rw-r--r--  1 root   root      304286 Jul 27 03:47  lda_simple_8743.model.id2word
-rw-r--r--  1 root   root      370651 Jul 27 03:47  lda_simple_8743.model.state
-rw-rw-r--  1 ubuntu ubuntu       279 Jul  2 18:01  load_data.py
-rw-r--r--  1 root   root     7329536 Jul 28 23:08  moives_genres.csv
-rw-r--r--  1 ubuntu ubuntu   4948054 May 31 08:00  movie_year.csv
-rwxrwx---  1 ubuntu ubuntu 168085432 May 31 06:01  movies.csv*
-rwxrwx---  1 ubuntu ubuntu 150968933 May 31 06:01  movies_crew.csv*
-rwxrwx---  1 ubuntu ubuntu 561756418 May 31 06:26  name.basics.tsv*
-rw-r--r--  1 root   root   110547562 May 31 08:31  people_year.csv
-rw-rw-r--  1 ubuntu ubuntu     14311 Jul  2 21:14  plot_document_clustering.ipynb
-rw-rw-r--  1 ubuntu ubuntu  63736264 May 31 08:47  principals.csv
drwxr-xr-x  4 ubuntu ubuntu      4096 Jul 12 18:28  recommendation_factorization_lecture/
drwxr-xr-x  7 ubuntu ubuntu      4096 Jul 12 23:33  recommender-case-study/
-rw-r--r--  1 root   root      124051 Jul 28 00:10  results.html
-rwxr-xr--  1 ubuntu ubuntu       742 May 31 05:08  setDisplay.sh*
drwxr-xr-x  3 root   root        4096 Jun 29 07:18  spark-warehouse/
-rw-r--r--  1 root   root       62410 Jul 22 17:03  tensflow_text_try.ipynb
-rw-r--r--  1 root   root       12398 Jul 29 00:40 'tensorflow RNN.ipynb'
-rw-r--r--  1 root   root      130047 Jul  2 08:06  tensorflow.ipynb
-rw-r--r--  1 ubuntu ubuntu     92876 Jul 23 21:59  tensorflow_1000p_clustering_temp.ipynb
-rw-r--r--  1 root   root      168049 Jul 23 16:19  tensorflow_1000p_temp.ipynb
-rw-rw-r--  1 ubuntu ubuntu     63927 Jul 23 18:37  tensorflow_LDA.ipynb
-rw-r--r--  1 root   root       11959 Jul 28 23:44  tensorflow_kmeans.ipynb
-rw-r--r--  1 root   root      784557 Jul 25 16:21  test_on_all_data.ipynb
drwxr-xr-x  5 ubuntu ubuntu      4096 Jul 23 17:08  tf-lda/
-rw-r--r--  1 root   root      422764 Jul  8 05:19  word_frequnecy_dict.json
-rw-r--r--  1 root   root       59965 Jul 21 23:55  word_index_frequnecy_dict.json
-rw-r--r--  1 root   root          12 May 31 19:38  宝宝来过啦.txt
-rw-r--r--  1 root   root         365 May 31 19:46  璐璐看到啦.txt